<!DOCTYPE html>
<html lang="fr">

<head>
	<!-- Meta données -->
	<link rel="apple-touch-icon" href="src/img/icons/maskable_icon_x192.png">
	<meta charset="UTF-8" />
	<meta name="theme-color" content="#ffd18c" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Accueil - StageTracker</title>
	<meta name="description"
		content="Bonjour et bienvenue sur StageTracker ! Ce site vous permettra à toi et ton pilote de pouvoir suivre et proposer des stages plus facilement ! Ce site a été créé dans le cadre de la réalisation du Projet 4. Ce fut l'un des plus gros projets de l'année et nous vous présentons fièrement le rendu ici présent !" />

	<!-- Framework Bulma (custom) -->
	<link rel="stylesheet" href="https://www.hsbay.space/cesi/stagetracker/res/bulma/css/mystyles.css" />
	<!-- Font awesome (icon) -->
	<script src="https://kit.fontawesome.com/d2fdcc8c83.js" crossorigin="anonymous"></script>
	<!-- Extention Bulma-carousel -->
	<link rel="stylesheet"
		href="https://hsbay.space/cesi/stagetracker/res/bulma-carousel/dist/css/bulma-carousel.min.css" />
	<script defer src="https://hsbay.space/cesi/stagetracker/res/bulma-carousel/dist/js/bulma-carousel.min.js"></script>
	<!-- Extention Bulma-divider -->
	<link rel="stylesheet"
		href="https://hsbay.space/cesi/stagetracker/res/@creativebulma/bulma-divider/dist/bulma-divider.min.css" />
	<!-- Navbar -->
	<script defer src="https://hsbay.space/cesi/stagetracker/src/js/navbar.js"></script>
	<!-- Mes fichiers -->
	<script defer src="src/js/home.js"></script>
	<script defer>
		// Check that service workers are supported
		if ('serviceWorker' in navigator) {
			// Use the window load event to keep the page load performant
			window.addEventListener('load', () => {
				navigator.serviceWorker.register('https://hsbay.space/serv.js');
			});
		}
	</script>
	<link rel="manifest" href="https://hsbay.space/manifest.webmanifest">
</head>

<body>
	<!-- Block numero 1-->
	{% include 'navbar.twig' %}
	<!-- Block numero 1-->

	<!--Block numero 2-->
	<section class="section">
		<div class="container">
			<h1 class="title">
				Bonjour
				{{userfname}}
				!
			</h1>
			<h2 class="subtitle">
				Bienvenue sur le meilleur site de recherche de stage
			</h2>
		</div>
	</section>
	<!--Block numero 2-->

	<!--Block numero 3-->
	<section class="section">
		<div class="container is-clipped">
			<div id="slider" class="carousel">
				<div class="card item-1">
					<div class="card-image">
						<figure class="image is-16by9 is-covered">
							<img src="https://images.unsplash.com/photo-1492684223066-81342ee5ff30?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=800&h=450&q=80"
								alt="" />
						</figure>
					</div>
					<div class="card-content">
						<div class="item__title">
							<h2 class="title is-5">Ouverture du site !</h2>
						</div>
						<div class="item__description">
							Notre site ouvre enfin ses portes !
						</div>
					</div>
				</div>

				<div class="card item-2">
					<div class="card-image">
						<figure class="image is-16by9 is-covered">
							<img src="https://images.unsplash.com/photo-1600880292089-90a7e086ee0c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=800&h=450&q=80"
								alt="" />
						</figure>
					</div>
					<div class="card-content">
						<div class="item__title">
							<h2 class="title is-5">Présentation de l'équipe</h2>
						</div>
						<div class="item__description">
							Projet réalisé par hsbay.space (Théo,Evan et Maxence)
						</div>
					</div>
				</div>

				<div class="card item-3">
					<div class="card-image">
						<figure class="image is-16by9 is-covered">
							<img src="https://images.unsplash.com/photo-1483736762161-1d107f3c78e1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=800&h=450&q=80"
								alt="" />
						</figure>
					</div>
					<div class="card-content">
						<div class="item__title">
							<h2 class="title is-5">Maxence : BDD et templates</h2>
						</div>
						<div class="item__description">
							"J'adore ça" cf. Un futur généraliste
						</div>
					</div>
				</div>

				<div class="card item-4">
					<div class="card-image">
						<figure class="image is-16by9 is-covered">
							<img src="https://images.unsplash.com/photo-1586717799252-bd134ad00e26?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=800&h=450&q=80"
								alt="" />
						</figure>
					</div>
					<div class="card-content">
						<div class="item__title">
							<h2 class="title is-5">Théo : Frontend</h2>
						</div>
						<div class="item__description">
							Le design du site est de sa création
						</div>
					</div>
				</div>

				<div class="card item-5">
					<div class="card-image">
						<figure class="image is-16by9 is-covered">
							<img src="https://images.unsplash.com/photo-1550930516-af8b8cc4f871?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&h=450&q=80"
								alt="" />
						</figure>
					</div>
					<div class="card-content">
						<div class="item__title">
							<h2 class="title is-5">Evan : Backend</h2>
						</div>
						<div class="item__description">
							"J'adore manger des cartes graphiques"
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--Block numero 3-->

	<!--Block numero 4-->
	<section class="section">
		<h1 class="title is-1 has-text-centered">
			Traque les dernières offres de stage</h1>
		<form action="tracker/offres/index.php" method="POST">
			<div class="columns is is-centered">
				<div class="column is-one-third">
					<div class="field is-grouped">
						<p class="control is-expanded">
							<input class="input" name="main-rb" type="text" placeholder="Rechercher une offre">
						</p>
						<p class="control">
							<input type="submit" value="Rechercher" name="submit" class="button is-link">
						</p>
					</div>
				</div>
			</div>
		</form>
	</section>


	<!--Block numero 4-->

	<!--Block numero 5-->
	<div class="block">
		<div class="hero is-primary is-medium">
			<section class="section">
				<div class="hero-head">
					<h1 class="title is-1">
						StageTracker
					</h1>
				</div>

				<div class="section">
					<p>
						Bonjour et bienvenue sur StageTracker ! Ce site vous permettra à toi et ton pilote de pouvoir
						suivre et proposer des stages plus facilement ! Ce site a été créé dans le cadre de la
						réalisation du Projet 4.
						Ce fut l'un des plus gros projets de l'année et nous vous présentons fièrement le rendu ici
						présent !
					</p>
				</div>

				<div class="hero-foot">
					<nav class="level">
						<div class="level-item has-text-centered">
							<div>
								<div class="box" style="background-color: lightblue;width: 200px;height: 100px;">
									<p class="heading">Offres en ligne :</p>
									<p class="title">{{nboffres.0.0.0}}</p>
								</div>
							</div>
						</div>
						<div class="level-item has-text-centered">
							<div>
								<div class="box" style="background-color: lightsalmon;width: 200px;height: 100px;">
									<p class="heading">Stages trouvés :
									</p>
									<p class="title">{{nbstages.0.0.0}}</p>
								</div>
							</div>
						</div>
						<div class="level-item has-text-centered">
							<div>
								<div class="box" style="background-color: lightgreen;width: 200px;height: 100px;">
									<p class="heading">Etudiants inscrits :</p>
									<p class="title">{{nbinsc.0.0.0}}</p>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</section>
		</div>
	</div>

	<!--Block numero 5-->

	<!--Block numero 6-->
	<section class="section">
		<div class="block">
			<h1 class="title has-text-centered">
				Dernières offres
			</h1>
		</div>
		<div class="container">
			<div class="columns is-multiline">
				{% for result in cartes %}
				{% include 'latestcard.twig' %}
				{% endfor %}
			</div>
		</div>
	</section>
	<!--Block numero 6-->

	<!--Footer-->
	{% include 'footer.twig' %}
	<!--Footer-->

</body>

</html>