<!DOCTYPE html>
<html lang="fr">

<head>
	<!-- Meta données -->
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Ajouter une entreprise - StageTracker</title>
	<meta name="description"
		content="Bonjour et bienvenue sur StageTracker ! Ce site vous permettra à toi et ton pilote de pouvoir suivre et proposer des stages plus facilement ! Ce site a été créé dans le cadre de la réalisation du Projet 4. Ce fut l'un des plus gros projets de l'année et nous vous présentons fièrement le rendu ici présent !" />

	<!-- Framework Bulma (custom) -->
	<link rel="stylesheet" href="https://www.hsbay.space/cesi/stagetracker/res/bulma/css/mystyles.css" />
	<!-- Font awesome (icon) -->
	<script src="https://kit.fontawesome.com/d2fdcc8c83.js" crossorigin="anonymous"></script>
	<!-- Extention Bulma-divider -->
	<link rel="stylesheet"
		href="https://hsbay.space/cesi/stagetracker/res/@creativebulma/bulma-divider/dist/bulma-divider.min.css" />
	<!-- Navbar -->
	<script defer src="https://hsbay.space/cesi/stagetracker/src/js/navbar.js"></script>
	<!-- Mes fichiers -->
</head>

<body>
	<!-- Block numero 1-->
	{% include 'navbar.twig' %}
	<!-- Block numero 1-->
	<section class="section">
		<div class="box">
			<h1 class="title is-1">Créer un profil pour mon entreprise</h1>
			<div class="columns">
				<div class="column">
					{# FORM #}
					<form action="" method="POST" enctype="multipart/form-data">
						<div class="columns">
							<div class="column">
								<h2 class="title is-2">Informations générales</h2>
								<div class="field">
									<label class="label">Nom *</label>
									<div class="control">
										<input class="input" type="text" name="name" placeholder="Ex: CESI Angoulême">
									</div>
								</div>
								<div class="field">
									<label class="label">Slogan</label>
									<div class="control">
										<input class="input" type="text" name="slogan"
											placeholder="Ex: Révélez vos talents !">
									</div>
								</div>
								<div class="field">
									<label class="label">Description de l'entreprise *</label>
									<textarea class="textarea" name="desc" placeholder="Lorem ipsum, dolor..."
										rows="7"></textarea>
								</div>
								<div class="field">
									<label class="label">Nombre de pilote qui font confiance à cette entreprise
										*</label>
									<div class="control">
										<input class="input" type="number" name="nbr_conf">
									</div>
								</div>
							</div>
							<div class="column">
								<h2 class="title is-2">Autres Informations</h2>
								<div class="field">
									<label class="label">Effectif</label>
									<div class="control">
										<input class="input" name="nbr" type="number" placeholder="Ex: 32">
									</div>
								</div>
								<div class="field">
									<label class="label">Mail *</label>
									<div class="control">
										<input class="input" name="mail" type="text" placeholder="Ex: rh@example.com">
									</div>
								</div>
								<div class="field">
									<label class="label">Numero de téléphone *</label>
									<div class="control">
										<input class="input" name="tel" type="text" placeholder="Ex: 0102030405">
									</div>
								</div>
								<div class="field">
									<label class="label">Site web</label>
									<div class="control">
										<input class="input" name="web" type="text" placeholder="Ex: www.hsbay.space">
									</div>
								</div>
								<div class="field">
									<label class="label">Secteur d'activité</label>
									<div class="control">
										<input class="input" name="sect" type="text"
											placeholder="Ex: Developpement de logiciel">
									</div>
								</div>
								<div class="columns">
									<div class="column">
										<div class="field">
											<label class="label">Bannière de l'entreprise *</label>
											<div class="file">
												<label class="file-label">
													<input class="file-input" type="file" name="ban_ent"
														accept=".png, .jpg, .jpeg">
													<span class="file-cta">
														<span class="file-icon">
															<i class="fas fa-upload"></i>
														</span>
														<span class="file-label">
															Choose a file…
														</span>
													</span>
												</label>
											</div>
										</div>
									</div>
									<div class="column">
										<div class="field">
											<label class="label">Logo *</label>
											<div class="file">
												<label class="file-label">
													<input class="file-input" type="file" name="logo_ent"
														accept=".png, .jpg, .jpeg">
													<span class="file-cta">
														<span class="file-icon">
															<i class="fas fa-upload"></i>
														</span>
														<span class="file-label">
															Choose a file…
														</span>
													</span>
												</label>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="box">
							<h3 class="title is-3">Adresse postale</h3>
							<div class="columns">
								<div class="column">
									<div class="field">
										<label class="label">Numero</label>
										<div class="control">
											<input class="input" type="text" placeholder="Ex: 1bis (Falcutatif)">
										</div>
									</div>
								</div>
								<div class="column">
									<div class="field">
										<label class="label">Rue *</label>
										<div class="control">
											<input class="input" type="text" placeholder="Ex: Champs de mars">
										</div>
									</div>
								</div>
							</div>
							<div class="columns">
								<div class="column">
									<div class="field">
										<label class="label">Code Postal/ZIP *</label>
										<div class="control">
											<input class="input" type="text" placeholder="Ex: 16000">
										</div>
									</div>
								</div>
								<div class="column">
									<div class="field">
										<label class="label">Ville *</label>
										<div class="control">
											<input class="input" type="text" placeholder="Ex: Angoulême">
										</div>
									</div>
								</div>
							</div>
							<div class="columns">
								<div class="column">
									<div class="field">
										<label class="label">Complément d'adresse</label>
										<div class="control">
											<input class="input" type="text" placeholder="Appartement 5">
										</div>
									</div>
								</div>
								<div class="column">
									<div class="field">
										<label class="label">Pays *</label>
										<div class="control">
											<input class="input" type="text" placeholder="Ex: France">

										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="message is-warning">
							<div class="message-body">
								<div class="container">
									<div>
										<label class="checkbox">
											<input type="checkbox" name="verif" value="chk">
											J'accepte les
											<a href="#">conditions générales d'utilisations</a>
											de
											StageTracker et
											j'accepte que StageTracker gère les données fournies
										</label>
									</div>
								</div>
							</div>
						</div>
						<div class="field is-grouped is-grouped-right">
							<button name="submit" class="button is-link">Créer mon profil</button>
						</div>
					</form>
					{# !FORM #}
				</div>
			</div>
		</div>
	</section>

	<!--Footer-->
	{% include 'footer.twig' %}
	<!--Footer-->
</body>

</html>