<!DOCTYPE html>
<html lang="fr">

	<head>
		<!-- Meta données -->
		<meta charset="UTF-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>Panneau admin - StageTracker</title>
		<meta
		name="description" content="Bonjour et bienvenue sur StageTracker ! Ce site vous permettra à toi et ton pilote de pouvoir suivre et proposer des stages plus facilement ! Ce site a été créé dans le cadre de la réalisation du Projet 4. Ce fut l'un des plus gros projets de l'année et nous vous présentons fièrement le rendu ici présent !"/>

		<!-- Framework Bulma (custom) -->
		<link
		rel="stylesheet" href="https://www.hsbay.space/cesi/stagetracker/res/bulma/css/mystyles.css"/>
		<!-- Font awesome (icon) -->
		<script src="https://kit.fontawesome.com/d2fdcc8c83.js" crossorigin="anonymous"></script>
		<!-- Extention Bulma-divider -->
		<link
		rel="stylesheet" href="https://hsbay.space/cesi/stagetracker/res/@creativebulma/bulma-divider/dist/bulma-divider.min.css"/>
		<!-- Navbar -->
		<script defer src="https://hsbay.space/cesi/stagetracker/src/js/navbar.js"></script>
		<!-- Mes fichiers -->
	</head>

	<body>
		<!-- Block numero 1-->
		{% include 'navbar.twig' %}
		<!-- Block numero 1-->
		<section class="section">
			<h1 class="title is-1">
				Panneau de Nom Prenom de l'admin
			</h1>
		</section>
		<section class="section">
			<h2 class="title is-2 has-text-centered">
				Liste des pilotes
			</h2>
			<div class="columns is-centered is-multiline">
				<div class="column is-two-third-mobile is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-fifth-fullhd">
					<div class="box">
						<div class="columns is-mobile is-centered">
							<div class="column has-text-centered is-half-mobile is-half-tablet is-half-desktop is-half-widescreen is-half-fullhd">
								<figure class="image is-128x128 is-inline-block">
									<img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
								</figure>
							</div>
						</div>
						<div class="columns">
							<div class="column has-text-centered">
								<p class="is-size-4">
									Nom Pilote
								</p>
								<p class="is-size-4">
									Prénom Pilote
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="column is-two-third-mobile is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-fifth-fullhd">
					<div class="box">
						<div class="columns is-mobile is-centered">
							<div class="column has-text-centered is-half-mobile is-half-tablet is-half-desktop is-half-widescreen is-half-fullhd">
								<figure class="image is-128x128 is-inline-block">
									<img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
								</figure>
							</div>
						</div>
						<div class="columns">
							<div class="column has-text-centered">
								<p class="is-size-4">
									Nom Pilote
								</p>
								<p class="is-size-4">
									Prénom Pilote
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="column is-two-third-mobile is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-fifth-fullhd">
					<div class="box">
						<div class="columns is-mobile is-centered">
							<div class="column has-text-centered is-half-mobile is-half-tablet is-half-desktop is-half-widescreen is-half-fullhd">
								<figure class="image is-128x128 is-inline-block">
									<img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
								</figure>
							</div>
						</div>
						<div class="columns">
							<div class="column has-text-centered">
								<p class="is-size-4">
									Nom Pilote
								</p>
								<p class="is-size-4">
									Prénom Pilote
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="column is-two-third-mobile is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-fifth-fullhd">
					<div class="box">
						<div class="columns is-mobile is-centered">
							<div class="column has-text-centered is-half-mobile is-half-tablet is-half-desktop is-half-widescreen is-half-fullhd">
								<figure class="image is-128x128 is-inline-block">
									<img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
								</figure>
							</div>
						</div>
						<div class="columns">
							<div class="column has-text-centered">
								<p class="is-size-4">
									Nom Pilote
								</p>
								<p class="is-size-4">
									Prénom Pilote
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="column is-two-third-mobile is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-fifth-fullhd">
					<div class="box">
						<div class="columns is-mobile is-centered">
							<div class="column has-text-centered is-half-mobile is-half-tablet is-half-desktop is-half-widescreen is-half-fullhd">
								<figure class="image is-128x128 is-inline-block">
									<img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
								</figure>
							</div>
						</div>
						<div class="columns">
							<div class="column has-text-centered">
								<p class="is-size-4">
									Nom Pilote
								</p>
								<p class="is-size-4">
									Prénom Pilote
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="column is-two-third-mobile is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-fifth-fullhd">
					<div class="box">
						<div class="columns is-mobile is-centered">
							<div class="column has-text-centered is-half-mobile is-half-tablet is-half-desktop is-half-widescreen is-half-fullhd">
								<figure class="image is-128x128 is-inline-block">
									<img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
								</figure>
							</div>
						</div>
						<div class="columns">
							<div class="column has-text-centered">
								<p class="is-size-4">
									Nom Pilote
								</p>
								<p class="is-size-4">
									Prénom Pilote
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="box">
				<h2 class="title is-2 has-text-centered">
					Edition des permission
				</h2>
				<form class="mb-6" action="tracker/offres/index.php" method="POST">
					<div class="columns is-centered is-vcentered">
						<div class="column is-one-third">
							<h1 class="title is-3 has-text-centered">
								Choisir l'utilisateur
							</h1>
						</div>
						<div class="column ">
							<div class="field is-grouped">
								<p class="control is-expanded">
									<input class="input" type="text" placeholder="Rechercher un utilisateur">
								</p>
								<p class="control">
									<a class="button is-link">
										Rechercher
									</a>
								</p>
							</div>
						</div>
					</div>
				</form>
				<div class="box">
					<div class="columns is-centered is-vcentered">
						<div class="column is-one-third">
							<div class="columns">
								<div class="column has-text-centered">
									<figure class="image is-128x128 is-inline-block">
										<img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
									</figure>

								</div>
							</div>
						</div>
						<div class="column is-two-thirds">
							<h3 class="title is-3">
								Nom prénom</h3>
						</div>
					</div>
				</div>
				<form action="">
					<div class="columns is-multiline is-centered is-vcentered">
						<div class="column is-one-third">
							<div class="box">
								<h1 class="title is-4 has-text-centered">
									Gestion des entreprises
								</h1>
								<div class="columns is-multiline is-centered is-vcentered">
									<div class="column is-full">
										<div class="field">
											<label class="checkbox">
												<input type="checkbox" id="recherche_ent" name="recherche_ent" value="">
												Rechercher
											</label>
										</div>
									</div>
									<div class="column is-full">
										<div class="field">
											<label class="checkbox">
												<input type="checkbox" id="creer_ent" name="creer_ent" value="">
												Créer
											</label>
										</div>
									</div>
									<div class="column is-full">
										<div class="field">
											<label class="checkbox">
												<input type="checkbox" id="modifier_ent" name="modifier_ent" value="">
												Modifier
											</label>
										</div>
									</div>
									<div class="column is-full">
										<div class="field">
											<label class="checkbox">
												<input type="checkbox" id="supprimer_ent" name="supprimer_ent" value="">
												Supprimer
											</label>
										</div>
									</div>
									<div class="column is-full">
										<div class="field">
											<label class="checkbox">
												<input type="checkbox" id="stats_ent" name="stats_ent" value="">
												Consulter les stats
											</label>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="is-divider"></div>
						<div class="column is-one-third">
							<div class="box">
								<h1 class="title is-4 has-text-centered">
									Gestion des offres de stages
								</h1>
								<div class="columns is-multiline is-centered is-vcentered">
									<div class="column is-full">
										<div class="field">
											<label class="checkbox">
												<input type="checkbox" id="recherche_offre" name="recherche_offre" value="">
												Rechercher
											</label>
										</div>
									</div>
									<div class="column is-full">
										<div class="field">
											<label class="checkbox">
												<input type="checkbox" id="creer_offre" name="creer_offre" value="">
												Créer
											</label>
										</div>
									</div>
									<div class="column is-full">
										<div class="field">
											<label class="checkbox">
												<input type="checkbox" id="modifier_offre" name="modifier_offre" value="">
												Modifier
											</label>
										</div>
									</div>
									<div class="column is-full">
										<div class="field">
											<label class="checkbox">
												<input type="checkbox" id="supprimer_offre" name="supprimer_offre" value="">
												Supprimer
											</label>
										</div>
									</div>
									<div class="column is-full">
										<div class="field">
											<label class="checkbox">
												<input type="checkbox" id="stats_offre" name="stats_offre" value="">
												Consulter les stats
											</label>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="is-divider"></div>
						<div class="column is-one-third">
							<div class="box">
								<h1 class="title is-4 has-text-centered">
									Gestion des pilotes
								</h1>
								<div class="columns is-multiline is-centered is-vcentered">
									<div class="column is-full">
										<div class="field">
											<label class="checkbox">
												<input type="checkbox" id="recherche_pilote" name="recherche_pilote" value="">
												Rechercher
											</label>
										</div>
									</div>
									<div class="column is-full">
										<div class="field">
											<label class="checkbox">
												<input type="checkbox" id="creer_pilote" name="creer_pilote" value="">
												Créer
											</label>
										</div>
									</div>
									<div class="column is-full">
										<div class="field">
											<label class="checkbox">
												<input type="checkbox" id="modifier_pilote" name="modifier_pilote" value="">
												Modifier
											</label>
										</div>
									</div>
									<div class="column is-full">
										<div class="field">
											<label class="checkbox">
												<input type="checkbox" id="supprimer_pilote" name="supprimer_pilote" value="">
												Supprimer
											</label>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="is-divider"></div>
						<div class="column is-one-third">
							<div class="box">
								<h1 class="title is-4 has-text-centered">
									Gestion des délégués
								</h1>
								<div class="columns is-multiline is-centered is-vcentered">
									<div class="column is-full">
										<div class="field">
											<label class="checkbox">
												<input type="checkbox" id="recherche_delegue" name="recherche_delegue" value="">
												Rechercher
											</label>
										</div>
									</div>
									<div class="column is-full">
										<div class="field">
											<label class="checkbox">
												<input type="checkbox" id="creer_delegue" name="creer_delegue" value="">
												Créer
											</label>
										</div>
									</div>
									<div class="column is-full">
										<div class="field">
											<label class="checkbox">
												<input type="checkbox" id="modifier_delegue" name="modifier_delegue" value="">
												Modifier
											</label>
										</div>
									</div>
									<div class="column is-full">
										<div class="field">
											<label class="checkbox">
												<input type="checkbox" id="supprimer_delegue" name="supprimer_delegue" value="">
												Supprimer
											</label>
										</div>
									</div>
									<div class="column is-full">
										<div class="field">
											<label class="checkbox">
												<input type="checkbox" id="assign_delegue" name="assign_delegue" value="">
												Assigner des droits à un délégué
											</label>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="is-divider"></div>
						<div class="column is-one-third">
							<div class="box">
								<h1 class="title is-4 has-text-centered">
									Gestion des étudiants
								</h1>
								<div class="columns is-multiline is-centered is-vcentered">
									<div class="column is-full">
										<div class="field">
											<label class="checkbox">
												<input type="checkbox" id="recherche_etud" name="recherche_etud" value="">
												Rechercher
											</label>
										</div>
									</div>
									<div class="column is-full">
										<div class="field">
											<label class="checkbox">
												<input type="checkbox" id="creer_etud" name="creer_etud" value="">
												Créer
											</label>
										</div>
									</div>
									<div class="column is-full">
										<div class="field">
											<label class="checkbox">
												<input type="checkbox" id="modifier_etud" name="modifier_etud" value="">
												Modifier
											</label>
										</div>
									</div>
									<div class="column is-full">
										<div class="field">
											<label class="checkbox">
												<input type="checkbox" id="supprimer_etud" name="supprimer_etud" value="">
												Supprimer
											</label>
										</div>
									</div>
									<div class="column is-full">
										<div class="field">
											<label class="checkbox">
												<input type="checkbox" id="stats_etud" name="stats_etud" value="">
												Consulter les stats des étudiants
											</label>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="is-divider"></div>
						<div class="column is-one-third">
							<div class="box">
								<h1 class="title is-4 has-text-centered">
									Gestion des candidatures
								</h1>
								<div class="columns is-multiline is-centered is-vcentered">
									<div class="column is-full">
										<div class="field">
											<label class="checkbox">
												<input type="checkbox" id="add_wish_list" name="add_wish_list" value="">
												Ajouter une offre à la wish-list
											</label>
										</div>
									</div>
									<div class="column is-full">
										<div class="field">
											<label class="checkbox">
												<input type="checkbox" id="rem_wish_list" name="rem_wish_list" value="">
												Retirer une offre à la wish-list
											</label>
										</div>
									</div>
									<div class="column is-full">
										<div class="field">
											<label class="checkbox">
												<input type="checkbox" id="post_offre" name="post_offre" value="">
												Postuler à une offre
											</label>
										</div>
									</div>
									<div class="column is-full">
										<div class="field">
											<label class="checkbox">
												<input type="checkbox" id="step1" name="step1" value="">
												Informer le système de l'avancement de la candidature step 1
											</label>
										</div>
									</div>
									<div class="column is-full">
										<div class="field">
											<label class="checkbox">
												<input type="checkbox" id="step2" name="step2" value="">
												Informer le système de l'avancement de la candidature step 2
											</label>
										</div>
									</div>
									<div class="column is-full">
										<div class="field">
											<label class="checkbox">
												<input type="checkbox" id="step3" name="step3" value="">
												Informer le système de l'avancement de la candidature step 3
											</label>
										</div>
									</div>
									<div class="column is-full">
										<div class="field">
											<label class="checkbox">
												<input type="checkbox" id="step4" name="step4" value="">
												Informer le système de l'avancement de la candidature step 4 affichage pilote
											</label>
										</div>
									</div>
									<div class="column is-full">
										<div class="field">
											<label class="checkbox">
												<input type="checkbox" id="step4_bis" name="step4_bis" value="">
												Informer le système de l'avancement de la candidature step 4 affichage étudiant
											</label>
										</div>
									</div>
									<div class="column is-full">
										<div class="field">
											<label class="checkbox">
												<input type="checkbox" id="step5" name="step5" value="">
												Informer le système de l'avancement de la candidature step 5
											</label>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="field is-grouped is-grouped-right">
						<button class="button is-link">Sauvegarder les permissions</button>
					</div>
				</form>
			</div>
		</section>

		<!--Footer-->
		{% include 'footer.twig' %}
		<!--Footer-->
	</body>

</html>
