<h1 class="title is-4 mb-6">Mon avancement : {{result.Nom_ent}} - {{result.Nom_poste_offre}} </h1>
<ul class="steps is-medium is-centered has-content-centered">
    {% if step == 0 %}
    Commencez à postuler à une offre pour voir votre avancement !
    {% else %}
    <li class="steps-segment
        {% if step == 1 %}
            is-active
        {% endif %}
    ">
        <span class="steps-marker">
            <span class="icon">
                <i class="fa-solid fa-play"></i>
            </span>
        </span>
        <div class="steps-content">
            <p class="heading">Postulation</p>
        </div>
    </li>
    <li class="steps-segment
        {% if step == 2 %}
            is-active
        {% endif %}
        ">
        <span class="steps-marker">
            <span class="icon">
                <i class="fa-solid fa-reply"></i>
            </span>
        </span>
        <div class="steps-content">
            <p class="heading">Réponse</p>
        </div>
    </li>
    <li class="steps-segment
        {% if step == 3 %}
            is-active
        {% endif %}
    ">
        <span class="steps-marker">
            <span class="icon">
                <i class="fa-solid fa-paper-plane"></i>
            </span>
        </span>
        <div class="steps-content">
            <p class="heading">Fiche de validation émise</p>
        </div>
    </li>
    <li class="steps-segment
        {% if step == 4 %}
            is-active
        {% endif %}">
        <span class="steps-marker">
            <span class="icon">
                <i class="fa-solid fa-signature"></i>
            </span>
        </span>
        <div class="steps-content">
            <p class="heading">Fiche de validation signée</p>
        </div>
    </li>
    <li class="steps-segment
        {% if step == 5 %}
            is-active
        {% endif %}">
        <span class="steps-marker ">
            <span class="icon">
                <i class="fa-solid fa-paper-plane"></i>
            </span>
        </span>
        <div class="steps-content">
            <p class="heading">Convention émise</p>
        </div>
    </li>
    <li class="steps-segment
        {% if step == 6 %}
            is-active
        {% endif %}
    ">
        <span class="steps-marker">
            <span class="icon">
                <i class="fa fa-check"></i>
            </span>
        </span>
        <div class="steps-content">
            <p class="heading">Convention signée</p>
        </div>
    </li>
    {% endif %}
</ul>
<div class="is-divider"></div>
<div class="buttons">
    <form action="" method="POST" style="margin-left: auto;margin-right:1rem;">
        <input type="hidden" name="id" value="{{result.ID_offre}}" readonly>
        <input type="submit" name="abandon" value="Abandonner ma candidature" class="button is-link is-light">
    </form>
</div>