<!DOCTYPE html>
<html lang="fr">

	<head>
		<!-- Meta données -->
		<meta charset="UTF-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>Se connecter - StageTracker</title>
		<meta
		name="description" content="Bonjour et bienvenue sur StageTracker ! Ce site vous permettra à toi et ton pilote de pouvoir suivre et proposer des stages plus facilement ! Ce site a été créé dans le cadre de la réalisation du Projet 4. Ce fut l'un des plus gros projets de l'année et nous vous présentons fièrement le rendu ici présent !"/>

		<!-- Framework Bulma (custom) -->
		<link
		rel="stylesheet" href="https://www.hsbay.space/cesi/stagetracker/res/bulma/css/mystyles.css"/>
		<!-- Font awesome (icon) -->
		<script src="https://kit.fontawesome.com/d2fdcc8c83.js" crossorigin="anonymous"></script>
		<!-- Extention Bulma-divider -->
		<link
		rel="stylesheet" href="https://hsbay.space/cesi/stagetracker/res/@creativebulma/bulma-divider/dist/bulma-divider.min.css"/>
		<!-- Navbar -->
		<script defer src="https://hsbay.space/cesi/stagetracker/src/js/navbar.js"></script>
		<!-- Mes fichiers -->
		<link rel="stylesheet" href="src/css/connection.css">
		<script defer src="src/js/connection.js"></script>
	</head>

	<body>
		<!-- Block numero 1-->
		{% include 'navbar.twig' %}
		<!-- Block numero 1-->

		<!-- Block numero 2-->
			<section class="section"> <div class="columns is-centered is-vcentered">
				<div class="box column is-full-mobile is-two-thirds-tablet is-half-desktop is-half-widescreen is-two-quarter-fullhd mt-6">
					<form method="post" action="index.php">
						<h1 class="title">Connectez-vous</h1>
						<div class="field">
							<label class="label">Email</label>
							<div class="control has-icons-left">

								<input class="input" name="mail" type="email" placeholder="ex. alex@exemple.com">

								<span class="icon is-small is-left">
									<i class="fas fa-envelope"></i>
								</span>
							</div>
						</div>

						<div class="field">
							<label class="label">Mot de passe</label>
							<div class="control has-icons-left">
								<input class="input" type="password" name="pass" placeholder="********">
								<span class="icon is-small is-left">
									<i class="fa-solid fa-lock"></i>
								</span>
							</div>
						</div>
						<div class="columns is-mobile">
							<div class="column is-offset-one-third">
								<div class="buttons">
									<button class="button is-primary">Mot de passe oublié</button>
									<input type="submit" class="button is-link" value="Se connecter">
								</div>
							</div>
						</div>
					</form>
					{# Ici git l'erreur #}
				</div>
			</div>
		</section>
		<!-- Block numero 2-->

	</body>

</html>
