<!DOCTYPE html>
<html lang="fr" class="background-img">

<head>
	<!-- Meta données -->
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Erreur - StageTracker</title>
	<meta name="description"
		content="Bonjour et bienvenue sur StageTracker ! Ce site vous permettra à toi et ton pilote de pouvoir suivre et proposer des stages plus facilement ! Ce site a été créé dans le cadre de la réalisation du Projet 4. Ce fut l'un des plus gros projets de l'année et nous vous présentons fièrement le rendu ici présent !" />

	<!-- Framework Bulma (custom) -->
	<link rel="stylesheet" href="https://www.hsbay.space/cesi/stagetracker/res/bulma/css/mystyles.css" />
	<!-- Font awesome (icon) -->
	<script src="https://kit.fontawesome.com/d2fdcc8c83.js" crossorigin="anonymous"></script>
	<!-- Extention Bulma-divider -->
	<link rel="stylesheet"
		href="https://hsbay.space/cesi/stagetracker/res/@creativebulma/bulma-divider/dist/bulma-divider.min.css" />
	<!-- Navbar -->
	<script defer src="https://hsbay.space/cesi/stagetracker/src/js/navbar.js"></script>
	<!-- Mes fichiers -->
	<link rel="stylesheet" href="src/css/edit-profil.css" />
	<script type="stylesheet">
			html{
			    overflow: hidden;
			    position: absolute;
			    }
			    .background-img{
			        background: url({{bc}});
			    }
		</script>
</head>


<body>
	<section class="hero is-fullheight">
		<div class="hero-body">
			<div class="columns is-centered">
				<div class="column is-one-third">
					<div class="has-text-centered">
						<h1 class="title is-1">
							ERREUR 500
						</h1>
						<p class="has-text-white is-size-4 mb-6">
							Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores laboriosam vero fuga,
							aliquam
							tempore quia, ipsa dolor accusantium amet minima delectus cum placeat adipisci numquam a hic
							esse
							fugit eaque?
						</p>
						<a href="https://www.hsbay.space/cesi/stagetracker/"
							class="button is-outlined is-white is-rounded is-size-4">Retourner à la page d'accueil</a>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>

</html>