<footer class="footer">
	<div class="block">
		<div class="container">
			<div class="columns">
				<div class="column">
					<div class="container has-text-centered">
						<h1 class="tiles is-1">
							Service
						</h1>
						<p>
							Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure consequuntur eaque debitis eos odio
							                eveniet cum officia ducimus dolorem, modi excepturi voluptatem! Laboriosam vitae, error velit
							                aspernatur
							                corporis adipisci? Tempora.
						</p>
					</div>
				</div>
				<div class="is-divider-vertical"></div>
				<div class="column">
					<div class="container has-text-centered">
						<h1 class="tiles is-1">
							Catégories
						</h1>
						<ul>
							<li><a href="#">Product</a></li>
							<li><a href="#">About us</a></li>
							<li><a href="#">Crew</a></li>
							<li><a href="https://hsbay.space/cesi/stagetracker/legal">Mentions légales</a></li>
							<li><a href="#">À propos</a></li>
						</ul>

					</div>
				</div>
				<div class="is-divider-vertical"></div>
				<div class="column">
					<div class="container has-text-centered">
						<h1 class="tiles is-1">
							Partenaire
						</h1>
						<ul>
							<li><a href="#">Partenaire1</a></li>
							<li><a href="#">Partenaire2</a></li>
							<li><a href="#">Partenaire3</a></li>
							<li><a href="#">Partenaire4</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="container has-text-centered">
			<div class="columns">
				<div class="column"></div>
				<div class="column">
					<section class="section">
						<a href="https://www.instagram.com">
							<span class="icon is-large">
								<i class="fa-brands fa-2x fa-instagram"></i>
							</span>
						</a>
						<a href="https://fr.linkedin.com">
							<span class="icon is-large">
								<i class="fa-brands fa-2x fa-linkedin"></i>
							</span>
						</a>
						<a href="https://fr-fr.facebook.com/">
							<span class="icon is-medium">
								<i class="fa-brands fa-2x fa-facebook"></i>
							</span>
						</a>
					</section>
				</div>
				<div class="column"></div>
			</div>
		</div>
	</div>
</footer>
