<footer class="footer">
	<div class="block">
		<div class="container">
			<div class="columns">
				<div class="column">
					<div class="container has-text-centered">
						<h1 class="tiles is-1">
							Service
						</h1>
						<p>
							Nous fournissons les dernières offres de stage disponibles, afin de faciliter l’entrée dans
							le monde professionnel de son choix. Le principe est simple, on vous fournit deux outils
							dans le but de vous mettre en contact avec des entreprises, le premier est un tracker
							d’offres, et le deuxième un tracker d’entreprise.
							<strong>Maintenant à vous de jouer</strong>

						</p>
					</div>
				</div>
				<div class="is-divider-vertical"></div>
				<div class="column">
					<div class="container has-text-centered">
						<h1 class="tiles is-1">
							Catégories
						</h1>
						<ul>
							<li><a href="#">Offres</a></li>
							<li><a href="#">Entreprise</a></li>
							<li><a href="#">Support</a></li>
							<li><a href="https://hsbay.space/cesi/stagetracker/legal">Mentions légales</a></li>
							<li><a href="#">À propos</a></li>
						</ul>

					</div>
				</div>
				<div class="is-divider-vertical"></div>
				<div class="column">
					<div class="container has-text-centered">
						<h1 class="tiles is-1">
							Partenaire
						</h1>
						<ul>
							<li><a href="#">Partenaire1</a></li>
							<li><a href="#">Partenaire2</a></li>
							<li><a href="#">Partenaire3</a></li>
							<li><a href="#">Partenaire4</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="container has-text-centered">
			<div class="columns">
				<div class="column"></div>
				<div class="column">
					<section class="section">
						<a href="https://www.instagram.com">
							<span class="icon is-large">
								<i class="fa-brands fa-2x fa-instagram"></i>
							</span>
						</a>
						<a href="https://fr.linkedin.com">
							<span class="icon is-large">
								<i class="fa-brands fa-2x fa-linkedin"></i>
							</span>
						</a>
						<a href="https://fr-fr.facebook.com/">
							<span class="icon is-medium">
								<i class="fa-brands fa-2x fa-facebook"></i>
							</span>
						</a>
					</section>
				</div>
				<div class="column"></div>
			</div>
		</div>
	</div>
</footer>