<!DOCTYPE html>
<html lang="fr">

	<head>
		<!-- Meta données -->
		<meta charset="UTF-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>Mentions légales - StageTracker</title>
		<meta
		name="description" content="Bonjour et bienvenue sur StageTracker ! Ce site vous permettra à toi et ton pilote de pouvoir suivre et proposer des stages plus facilement ! Ce site a été créé dans le cadre de la réalisation du Projet 4. Ce fut l'un des plus gros projets de l'année et nous vous présentons fièrement le rendu ici présent !"/>

		<!-- Framework Bulma (custom) -->
		<link
		rel="stylesheet" href="https://www.hsbay.space/cesi/stagetracker/res/bulma/css/mystyles.css"/>
		<!-- Font awesome (icon) -->
		<script src="https://kit.fontawesome.com/d2fdcc8c83.js" crossorigin="anonymous"></script>
		<!-- Extention Bulma-divider -->
		<link
		rel="stylesheet" href="https://hsbay.space/cesi/stagetracker/res/@creativebulma/bulma-divider/dist/bulma-divider.min.css"/>
		<!-- Navbar -->
		<script defer src="https://hsbay.space/cesi/stagetracker/src/js/navbar.js"></script>
		<!-- Mes fichiers -->
	</head>

	{% include 'navbar.twig' %}
	<body>
		<section class="section">
			<div class="content">
				<p>
					<h1>Mentions légales</h1>
				</p>
				<p>En vigueur au 01/04/2022</p>
				<p>Conformément aux dispositions des Articles 6-III et 19 de la Loi n°2004-575 du 21 juin 2004 pour la
					        Confiance dans l’économie numérique, dite L.C.E.N., il est porté à la connaissance des utilisateurs et
					        visiteurs, ci-après l""Utilisateur", du site hsbay.space/stagetracker , ci-après le "Site", les présentes
					        mentions légales.</p>

				<p>La connexion et la navigation sur le Site par l’Utilisateur implique acceptation intégrale et sans réserve
					        des présentes mentions légales.
					        Ces dernières sont accessibles sur le Site à la rubrique « Mentions légales ».</p>

				<p>
					<h2>ARTICLE 1 - L'EDITEUR</h2>
				</p>
				<p>L'édition du Site est assurée par Hsbay PME au capital de 0 euros, immatriculée au Registre du
					        Commerce et des Sociétés de La Couronne sous le numéro 00000 dont le siège social est situé au :</p>
				<p>Route de la croix du milieu,</p>
				<p>Numéro de téléphone +33123456789,</p>
				<p>Adresse e-mail : maxence.dumon@viacesi.fr.</p>
				<p>N° de TVA intracommunautaire : 2</p>
				<p>Le Directeur de la publication est Maxence Dumon, ci-après l'"Editeur".</p>

				<p>
					<h2>ARTICLE 2 - L'HEBERGEUR</h2>
				</p>
				<p>L'hébergeur du Site est la société Hostinger, dont le siège social est situé au Kaunas, Lituanie , avec :</p>
				<p>le numéro de téléphone : +33123456789
				</p>
				<p>adresse mail de contact</p>

				<p>
					<h2>ARTICLE 3 - ACCES AU SITE</h2>
				</p>
				<p>Le Site est accessible en tout endroit, 7j/7, 24h/24 sauf cas de force majeure, interruption
					        programmée ou non et pouvant découlant d’une nécessité de maintenance.</p>
				<p>En cas de modification, interruption ou suspension du Site, l'Editeur ne saurait être tenu responsable.</p>

				<p>
					<h2>ARTICLE 4 - COLLECTE DES DONNEES</h2>
				</p>
				<p>Le Site assure à l'Utilisateur une collecte et un traitement d'informations personnelles dans le respect
					        de la vie privée conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers
					        et aux libertés.</p>

				<p>En vertu de la loi Informatique et Libertés, en date du 6 janvier 1978, l'Utilisateur dispose d'un droit
					        d'accès, de rectification, de suppression et d'opposition de ses données personnelles. L'Utilisateur
					        exerce ce droit :
					<ul>
						<li>par mail à l'adresse email admin@hsbay.space</li>
						<li>via son espace personnel</li>
					</ul>
				</p>
				<p>Toute utilisation, reproduction, diffusion, commercialisation, modification de toute ou partie du Site,
					        sans autorisation de l’Editeur est prohibée et pourra entraînée des actions et poursuites judiciaires
					        telles que notamment prévues par le Code de la propriété intellectuelle et le Code civil.
				</p>
			</div>
		</section>
		{% include 'footer.twig'%}
	</body>
</html>
