<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">

	<div class="navbar-brand">
		<a class="navbar-item" href="https://www.hsbay.space/cesi/stagetracker/">
			<img src="https://bulma.io/images/bulma-logo.png" alt="StageTracker: Tracker les meilleures offres" width="112" height="28"/>
		</a>

		<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="main-navbar">
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
		</a>
	</div>

	<div
		id="main-navbar" class="navbar-menu">

		<!--Début de la navbar-->
		<div class="navbar-start">
			<a class="navbar-item" href="https://www.hsbay.space/cesi/stagetracker/">
				Accueil
			</a>
			<div class="navbar-item has-dropdown is-hoverable">
				<a class="navbar-link">
					Tracker
				</a>
				<div class="navbar-dropdown is-boxed">
					<a class="navbar-item" href="https://bulma.io/documentation/overview/start/">
						Une Entreprise
					</a>
					<a class="navbar-item" href="https://hsbay.space/cesi/stagetracker/tracker/offres/">
						Les offres
					</a>
					<a class="navbar-item" href="https://bulma.io/documentation/columns/basics/">
						Un profil
					</a>
				</div>
			</div>
			<a class="navbar-item" href="https://www.hsbay.space/cesi/stagetracker/session/admin">
				Administration
			</a>
		</div>
		<!--Début de la navbar-->


		<!--Fin de la navbar-->
		<div class="navbar-end">
			<div id="btns-connec" class="navbar-item" style="{{visible1}}">
				<div class="buttons">
					<a href="https://www.hsbay.space/cesi/stagetracker/session/profil/inscrip/" class="button is-link">
						S'inscrire
					</a>
					<a href="https://www.hsbay.space/cesi/stagetracker/session/profil/auth/"  class="button is-primary">
						Se connecter
					</a>
				</div>
			</div>
			<div id="btns-profil" class="navbar-item" style="{{visible2}}" >
				<div class="buttons">
					<a href="https://www.hsbay.space/cesi/stagetracker/session/profil/" class="button is-link">Mon profil</a>
				</div>
			</div>
		</div>
		<!--Fin de la navbar-->

	</div>
</nav>
